 .nav {
    height: 70px;
    margin-bottom: 10px;
    width: 100%;
} 
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.h1{
    display: block;
        height: 48px;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.encabezado {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen{

    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding-top: 3px;
    padding-bottom: 3px;


}

.imagen:active {
    height: 118px;
    width: 118px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 50%;
    border: solid 4px rgb(147, 204, 238);
}

.media{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
}
.media-izq{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.media-der{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.txtbtn{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit
}
.parrafo {
    height: 45px;
    font-weight: bold;
    color: #211922;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn {
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(32, 31, 31);
    color: white;
    height: 48px;
    min-width: 70px;
    border-radius: 28px;
    margin-top: 0px;
}
.btn2 {
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    min-width: 70px;
    border-radius: 28px;
    background-color: white;
    border: solid white;
    margin-top: 0px;
    text-decoration: none;
}
.btn2:hover{
    font-weight: bold;
    font-size: 16px;
    height: 48px;
    min-width: 70px;
    background-color: rgb(226, 224, 224);
    border-radius: 28px;
    font-weight: bold;
    margin-top: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    text-align: center;
    justify-content: center;
  }

  .grid-cont-int {
   border: 10px solid white;
    /* padding: 20px; */
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
 }
 .grid-item {
    height: 225px;
    width: 320px;
    border-radius: 5px;
    align-self: center;
    /* padding: 20px; */
 }
 h3 {
     font-weight: bold;
     margin-top: 10px;
     margin-bottom: 0px;
     text-align: left;
     padding-left: 20px;
 }
.parrafo2 {
    color: #211922;
    font-size: 14px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-left: 20px;
}

.icono {
    fill: currentColor;
    stroke-width: 0;
  	color: var(--gestalt-colorGray0);
    display: block;
    height:20px;
    width:20px;
    padding: 10px;
}

.icono:hover{
    height: 20px;
    width: 20px;
    display: block;
    background-color: rgb(226, 224, 224);
    border-radius: 50%;
}

/*Style for navbar
/* Add a white background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: white;
  }
  
  
  /* Style the links inside the navigation bar */
  .derecha {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 14px 16px;
    border-radius: 30px;
    
    }
  
  .izquierda {
   float: left;
    display: flex;
    flex-direction: row;
    color: #111111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 30px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  
  .seleccion:focus {
     
    background-color: black;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .redondeado {
    padding: 6px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e9e9e9;
    border: green;
    border-radius: 30px;
    height: 30px;
    width: 70%;
    margin-top: 0px;
    margin-right: 1px;
    font-size: 16px;
    transition: 0.3s;
  }

  .topnav input[type=text]:focus {

    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
  
  }
  
  
  
  
  @media screen and (max-width: 70%) {
    
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  }
  
  
  .gUZ {
    fill: currentColor;
    stroke-width: 0;
    vertical-align: middle;
    color: #e60023;
  }
  
  .B9u {
    color: #767676;
   
  }
  
  
  .cambio:focus {
    display: block;
    fill: currentColor;
    stroke-width: 0;
    
    color: black;
  }
  
  .alinearlupa {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
  
  }
  
/* FOOTER BTN  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 94%;
  top: 85%;
  z-index: 1;
}

footer div {
  border-radius: 50%;
  -webkit-box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 7px -6px rgba(0, 0, 0, 0.75);
  border: solid 2px rgba(238, 237, 237, 0.75);
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
  background-color: #fcfcfc;

}

footer div:hover {
  align-items: center;
  font-size: 2rem;
  font-weight: lighter;
  background-color:rgb(226, 224, 224);
  border-radius: 50%;
}

.btnderecha {
  color: black;
  height: 1rem;
  
}







